<h1><%= title %></h1>
<h1 style="color: red;">I was not able to finish this lab so I decided to do the EXPRESS DRONES lab. </h1>
<p>Welcome to <%= title %></p>
<a href= "/celebrities/create"> Create Celebrity </a>