<h1><%= title %></h1>
<h1 style="color: red;">Still in progress. </h1>
<p>Welcome to <%= title %></p>
<div>
    <a href= "/celebrities/create"> Create Celebrity </a>
    <a href= "/celebrities"> List of Celebrities </a>
</div>
<div>
    <a href= "/movies/create"> Create Movie </a>
    <a href= "/movies"> List of Movies </a>
</div>